$spacer: 1rem;

form.foe_webform_prefill_get-active div {
  display: none;
}

form.foe_webform_prefill_get-active {
  &::before {
    content: "\f021";
    font-family: FontAwesome; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: 40px;
    display: block;
    text-align: center;
    animation: fa-spin 2s infinite linear;
  }

  &::after {
    content: "Loading";
    display: block;
    text-align: center;
    font-weight: 700;
  }
}

.prefill-salutation {
  padding-bottom: $spacer;

  h3 {
    margin-top: 0;
    margin-bottom: calc($spacer/4);
  }
}
